<div [slbDetailsPageTemplateContext]="context" class="page-wrapper">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <h1>
                    <slb-package-title></slb-package-title>
                </h1>

                <div class="slb-font-family-semibold slb-font-size-smaller">
                    <slb-package-description></slb-package-description>
                </div>

                <div class="subsection template-info">
                    <slb-tab-group alignLabels="left">
                        <ng-template slbDisplayForCategory="Webparts" let-items="items">
                            <slb-tab label="Webparts">
                                <div class="d-flex flex-wrap">
                                    <div class="w-50 pr-3 mt-3" *ngFor="let item of items">
                                        <slb-detail-item [item]="item"></slb-detail-item>
                                    </div>
                                </div>
                            </slb-tab>
                        </ng-template>

                        <ng-template slbDisplayForCategory="Features" let-items="items">
                            <slb-tab label="Features">
                                <div class="d-flex flex-wrap">
                                    <div class="w-50 pr-3 mt-3" *ngFor="let item of items">
                                        <slb-detail-item [item]="item"></slb-detail-item>
                                    </div>
                                </div>
                            </slb-tab>
                        </ng-template>

                        <ng-template slbDisplayForCategory="Site Content" let-items="items">
                            <slb-tab label="Site Content">
                                <ul class="mt-3">
                                    <li *ngFor="let item of items">
                                        {{ item.name }}
                                    </li>
                                </ul>
                            </slb-tab>
                        </ng-template>

                        <ng-template slbDisplayForCategory="Resources" let-items="items">
                            <slb-tab label="Resources">
                                <div class="d-flex flex-wrap">
                                    <div class="w-50 pr-3 mt-3" *ngFor="let item of items">
                                        <slb-detail-item [item]="item"></slb-detail-item>
                                    </div>
                                </div>
                            </slb-tab>
                        </ng-template>
                    </slb-tab-group>
                </div>

                <div class="subsection slb-font-size-smaller add-to-tenant-subsection">
                    <slb-sticky-header>
                        <div slbStickyHeaderContentClass="container-fluid stickied-header-content">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <h1 class="m-0">
                                    <slb-package-title></slb-package-title>
                                </h1>
                                <button slb-cta-button slbAddToTenantButton>Add to your tenant</button>
                            </div>
                        </div>
                    </slb-sticky-header>
                </div>

                <div class="subsection">
                    <slb-permission-message></slb-permission-message>
                </div>

                <div class="subsection">
                    <h4 class="mb-3">System Requirements</h4>
                    <slb-system-requirements-table class="w-100"></slb-system-requirements-table>
                </div>
            </div>

            <div class="col-lg-6 col-xl-7 image-container">
                <picture class="d-block animate-slide-left-fade-in">
                    <img slbTemplatePreviewImage class="w-100 box-shadow-elevation-1" />
                </picture>
            </div>
        </div>
    </section>
</div>